.top-menu {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
    
    
    .Logo img {
        width: 200px;
        height: 100px;
        margin-right: 20px;
    }
  
    
    

